[user]
  name = Vincent Siles
  email = vsiles@fb.com

[color]
	ui = auto
[merge]
	tool = vimdiff
	conflictstyle = diff3
        prompt = false
[pull]
        rebase = true

[alias]
    st = status
    sl = log --all --graph
